
@use "../components/typography" as *;

$sizeLogoFooterWidht:(
    desktop:200px,
    tablet:177px,
    mobile:156px,
);
$sizeLogoFooterheight:(
    desktop:72px,
    tablet:64px,
    mobile:56px,
);
@mixin footerLogoSize($size){
    max-width: map-get($sizeLogoFooterWidht,$size);
    height: map-get($sizeLogoFooterheight,$size);
}
footer{
    background: #fafbfc;
    .footer-container{
        max-width: 1320px;
        margin: 0 auto;
      .logo{
        @include footerLogoSize(mobile);
      }
        .menu-links{
            max-width: 736px;
            gap: 20px;
            a{
                color: var(--Neutral-Dark-N700, #253858);
                @include text-body-style(small,normal ); // bold text small
            }
        }
        p{
            color: var(--Neutral-Dark-Black, #00091A);
            @include text-body-style(small,bold ); // bold text small
        }

        .icon-box{
            gap: 8px;
        }
    }
    .bot{
        background: #fff;
        p{
            color: var(--Neutral-Dark-N700, #253858);
            @include text-body-style(caption,normal ); // normal text caption
        }
    }
}

@media screen and (min-width: 480px){

    footer{

        .footer-container{
          .logo{
            @include footerLogoSize(tablet);
          }
            .menu-links{
                a{

                    @include text-body-style(body,normal ); // normal text body
                }
            }
            p{

                @include text-body-style(body,bold ); // normal text body
   
            }
    
            .icon-box{
                gap: 8px;
            }
        }
        .bot{
            background: #fff;
            p{
                @include text-body-style(small,normal ); // normal text caption
            }
        }
    }

    
    
}

@media screen and (min-width: 1024px){
    footer{

        .footer-container{
          .logo{
            @include footerLogoSize(desktop);
          }
            .menu-links{
                gap: 32px;
                a{

                    @include text-body-style(subTitle,normal ); // bold text subTitle
                }
            }
            p{

                @include text-body-style(subTitle,bold ); // bold text subTitle
   
            }
    
            .icon-box{
                gap: 8px;
            }
        }
        .bot{
            p{
                @include text-body-style(body,normal ); // normal text caption
            }
        }
    }
}