#login {
    .textfild {
        border-radius: 10px;
        background: var(--Neutral-Light-N10, #FAFBFC);

        input {
            border: none;
            outline: none;
            color: var(--Neutral-Dark-N900, #091E42) !important;
            background: var(--Neutral-Light-N10, #FAFBFC);

            &::placeholder {
                color: var(--Neutral-Light-N50, #C1C7D0);
            }
            width: 100%;

        }
        &.focus {
            border: 1px solid var(--Primary-Color-5, #EE4562);
            background: var(--Neutral-Light-N0, #FFF);
            box-shadow: 0px 0px 0px 2px rgba(238, 69, 98, 0.20);
            input {
                background: var(--Neutral-Light-N0, #FFF);
            }
        }

    }
    .button {
        border-radius: 10px;
        border: 1px solid var(--Neutral-Light-N50, #C1C7D0);
        background: var(--Neutral-Light-N20, #F4F5F7);
        cursor: initial;

        p {
            color: var(--Neutral-Mid-N60, #B3BAC5);
        }

        &.active {
            cursor: pointer;
            border: 1px solid var(--primary-color-6-base, #EE4562);
            background: var(--primary-color-6-base, #EE4562);
            box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);

            p {
                color: #fff;
            }

        }
    }
}
.login-section{
    .header{
        border-bottom: 1px solid var(--Neutral-Light-N30, #EBECF0);
        a{
            color: var(--Neutral-Dark-N700, #253858);
        }
    }
}