@mixin craftItem() {
    width: 100%;
    .header {
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 16/9;
        }
        margin-bottom: 4px;
    }

    .body {
        width: 100%;
        height: 44px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .name {
            color: #00091A;
            font-size: 12.64px;
            font-weight: 800;
            line-height: 24px;
        };

        .number {
            color: #7A869A;
            font-size: 12.64px;
            font-weight: 800;
            line-height: 24px;
        }

        ;

    }
}